* {
  background-color: aquamarine;
  text-align: center;
}

.color-box {
  border: 2px solid black;
  display: flex;
  height: 200px;
  width: 200px;
}

.color-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
}